@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Polysans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/poly-sans-neutral.woff2") format("woff2");
}

html,
body {
  overflow: hidden;
  font-family: "Polysans","Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  overscroll-behavior: none;
  background-color: #000000;
  color: #fff;
}

.curtain::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 77.5%;
  height: 40px;
  z-index:1000;
  background-color: #000000;
  opacity: 0.6;
}

#app {
  height: 100vh;
}
